/* Special nerf */
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom #header */
header.bg-header {
    background: url("./img/pexels-yankrukov-4458421.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}